.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    height: 30px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px 3px blue;
    outline: none;
    color: black;
  }
  .alert {
    background-color: red;
    opacity: 0.8;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    font-size: 20px;
    margin: 30px;
    border-radius: 10px;
  }
  .user-boards {
    margin-bottom: 200px;
    h3 {
      text-align: center;
      margin-top: 50px;
      text-shadow: 2px 2px 6px #4dca4d;
    }
    .board {
      text-align: center;
      a {
        text-decoration: none;
        display: inline-block;
        background: linear-gradient(#43fe6f, #3afe38);
        padding: 3px 12px;
        border-radius: 4px;
        text-shadow: 1px 1px black;
        box-shadow: 2px 2px 4px gray;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: inset 2px 2px 4px black;
          opacity: 0.7;
          color: burlywood;
        }
      }
      span {
        display: inline-block;
        padding: 3px;
        margin: 5px;
        background-color: #383889;
        border-radius: 5px;
      }
    }
  }
}
