.index {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  justify-content: space-around;
  height: 100%;
  max-height: 700px;
  align-items: center;
  margin: 0 auto;
  input {
    height: 30px;
    width: 200px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px 3px blue;
    outline: none;
    color: black;
  }
}
